In [36]:
!pip install openpyxl
!pip install xlrd

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\edgar ramos castro\appdata\roaming\python\python311\site-packages (3.1.2)
Requirement already satisfied: et-xmlfile in c:\users\edgar ramos castro\appdata\roaming\python\python311\site-packages (from openpyxl) (1.1.0)
Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: xlrd in c:\users\edgar ramos castro\appdata\roaming\python\python311\site-packages (2.0.1)

In [37]:
import pandas as pd
co2Link='https://github.com/SDSRomina/parcial.tarea/raw/main/CO2%20emissions.xls'
accesToElectricityLink = 'https://github.com/SDSRomina/parcial.tarea/raw/main/Access%20to%20electricity%20.xls'
forestAreaLink = 'https://github.com/SDSRomina/parcial.tarea/raw/main/Forest%20area.xls'

#Aqui tenemos los tres datasframes
co2=pd.read_excel(co2Link)
accesToElectricity = pd.read_excel(accesToElectricityLink)
forestArea = pd.read_excel(forestAreaLink)

In [38]:
co2.shape,accesToElectricity.shape, forestArea.shape

((264, 4), (264, 4), (264, 4))

In [39]:
co2.columns,accesToElectricity.columns, forestArea.columns

(Index(['Country Name', 'Country Code', 'Year',
        'CO2 emissions (metric tons per capita)'],
       dtype='object'),
 Index(['Country Name', 'Country Code', 'Year',
        'Access to electricity (% of population)'],
       dtype='object'),
 Index(['Country Name', 'Country Code', 'Year', 'Forest area (% of land area)'], dtype='object'))

In [40]:
tresDFS = [co2, accesToElectricity, forestArea]

In [41]:
allColumnNames=[]
for df in tresDFS:
    allColumnNames.append(set(df.columns))
allColumnNames

[{'CO2 emissions (metric tons per capita)',
  'Country Code',
  'Country Name',
  'Year'},
 {'Access to electricity (% of population)',
  'Country Code',
  'Country Name',
  'Year'},
 {'Country Code', 'Country Name', 'Forest area (% of land area)', 'Year'}]

In [42]:
commonColumns=set.intersection(*allColumnNames)
nocommonColumns = set.union(*allColumnNames)-commonColumns
allColumns =  commonColumns.union(nocommonColumns)
allColumns     
#columnas_nuevas = set(df.columns)
#columnas_existentes = set().union(*[set(df.columns) for df in lista_de_dataframes])
#columnas = columnas_nuevas && columnas_existentes

{'Access to electricity (% of population)',
 'CO2 emissions (metric tons per capita)',
 'Country Code',
 'Country Name',
 'Forest area (% of land area)',
 'Year'}

In [43]:
allDFs_sameNames=[df.loc[:,list(commonColumns)] for df in tresDFS]
allDFs_sameNames

[     Year Country Code     Country Name
 0    2020          ABW            Aruba
 1    2020          AFG       Afganistán
 2    2020          AGO           Angola
 3    2020          ALB          Albania
 4    2020          AND          Andorra
 ..    ...          ...              ...
 259  2020          XKX           Kosovo
 260  2020          YEM  Yemen, Rep. del
 261  2020          ZAF        Sudáfrica
 262  2020          ZMB           Zambia
 263  2020          ZWE         Zimbabwe

 [264 rows x 3 columns],
      Year Country Code     Country Name
 0    2020          ABW            Aruba
 1    2020          AFG       Afganistán
 2    2020          AGO           Angola
 3    2020          ALB          Albania
 4    2020          AND          Andorra
 ..    ...          ...              ...
 259  2020          XKX           Kosovo
 260  2020          YEM  Yemen, Rep. del
 261  2020          ZAF        Sudáfrica
 262  2020          ZMB           Zambia
 263  2020          ZWE         Zimbabwe

 [264 rows x 3 columns],
      Year Country Code     Country Name
 0    2020          ABW            Aruba
 1    2020          AFG       Afganistán
 2    2020          AGO           Angola
 3    2020          ALB          Albania
 4    2020          AND          Andorra
 ..    ...          ...              ...
 259  2020          XKX           Kosovo
 260  2020          YEM  Yemen, Rep. del
 261  2020          ZAF        Sudáfrica
 262  2020          ZMB           Zambia
 263  2020          ZWE         Zimbabwe

 [264 rows x 3 columns]]

In [44]:

co2 = pd.concat([list(commonColumns), list(nocommonColumns)], axis=1)

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [47]:
co2.merge(forestArea,how='inner',on = 'Country Code').merge(accesToElectricity, how='inner',on = 'Country Code')
#asignaremos todos esos merge a uno solo
ThreeDfs = co2.merge(forestArea,how='inner',on = 'Country Code').merge(accesToElectricity, how='inner',on = 'Country Code')

In [48]:
countryIsosLink = 'https://github.com/SDSRomina/parcial.tarea/raw/main/country_isos.xlsx'
countryIsos = pd.read_excel(countryIsosLink)
countryIsos

,Country,Officialstatename,InternetccTLD,iso2,iso3
0,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,ALBANIA,The Republic of Albania,.al,AL,ALB
2,ALGERIA,The People's Democratic Republic of Algeria,.dz,DZ,DZA
3,ANGOLA,The Republic of Angola,.ao,AO,AGO
4,ANTIGUA AND BARBUDA,Antigua and Barbuda,.ag,AG,ATG
...,...,...,...,...,...
166,UZBEKISTAN,The Republic of Uzbekistan,.uz,UZ,UZB
167,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
168,YEMEN,The Republic of Yemen,.ye,YE,YEM
169,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
170,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [49]:
#Ahora tenemos que hacer un merge con el archivo junto de countryIsos
#Aqui tenemos todos los DFs mergueados, el allDFs no es una lista
allDFs = ThreeDfs.merge(countryIsos,how='inner', left_on = 'Country Code', right_on = 'iso3')
allDFs

,Country Name_x,Country Code,Year_x,CO2 emissions (metric tons per capita),Country Name_y,Year_y,Forest area (% of land area),Country Name,Year,Access to electricity (% of population),Country,Officialstatename,InternetccTLD,iso2,iso3
0,Afganistán,AFG,2020,0.223479,Afganistán,2020,1.852782,Afganistán,2020,97.700000,AFGHANISTAN,The Islamic Republic of Afghanistan,.af,AF,AFG
1,Angola,AGO,2020,0.592743,Angola,2020,52.981722,Angola,2020,46.955444,ANGOLA,The Republic of Angola,.ao,AO,AGO
2,Albania,ALB,2020,1.544550,Albania,2020,28.791971,Albania,2020,100.000000,ALBANIA,The Republic of Albania,.al,AL,ALB
3,Emiratos Árabes Unidos,ARE,2020,20.252272,Emiratos Árabes Unidos,2020,4.467756,Emiratos Árabes Unidos,2020,100.000000,UNITED ARAB EMIRATES (THE),The United Arab Emirates,.ae,AE,ARE
4,Argentina,ARG,2020,3.405618,Argentina,2020,10.400764,Argentina,2020,100.000000,ARGENTINA,The Argentine Republic,.ar,AR,ARG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165,Viet Nam,VNM,2020,3.676440,Viet Nam,2020,46.961162,Viet Nam,2020,99.800000,VIET NAM,The Socialist Republic of Viet Nam,.vn,VN,VNM
166,Samoa,WSM,2020,0.960782,Samoa,2020,57.982014,Samoa,2020,100.000000,SAMOA,The Independent State of Samoa,.ws,WS,WSM
167,"Yemen, Rep. del",YEM,2020,0.308515,"Yemen, Rep. del",2020,1.039832,"Yemen, Rep. del",2020,73.853462,YEMEN,The Republic of Yemen,.ye,YE,YEM
168,Zambia,ZMB,2020,0.401903,Zambia,2020,60.030150,Zambia,2020,44.604069,ZAMBIA,The Republic of Zambia,.zm,ZM,ZMB
169,Zimbabwe,ZWE,2020,0.530484,Zimbabwe,2020,44.974822,Zimbabwe,2020,52.747667,ZIMBABWE,The Republic of Zimbabwe,.zw,ZW,ZWE

In [53]:
allDFs.drop(columns=['Country Name_x','Country Name','Country Name_y'],inplace=True)
#allDFsConcat.drop(columns='Rank',inplace=True)
allDFs

KeyError: "['Country Name_x', 'Country Name'] not found in axis"

In [51]:
#un conjunto de columnas
allColNames=[]
allColNames = set(allDFs.columns)
allColNames

{'Access to electricity (% of population)',
 'CO2 emissions (metric tons per capita)',
 'Country',
 'Country Code',
 'Country Name_y',
 'Forest area (% of land area)',
 'InternetccTLD',
 'Officialstatename',
 'Year',
 'Year_x',
 'Year_y',
 'iso2',
 'iso3'}

In [10]:

allColNames.columns=allColNames.columns.str.replace(':\s',"_",regex=True)

allDFsConcat.columns.to_list()

AttributeError: 'set' object has no attribute 'columns'